@charset "utf-8";
/* 共用css */
* { margin: 0; padding: 0 }
body { font: 12px/1.5 'Microsoft Yahei', 'Simsun'; color: #666666; background: #fff }
img { border: 0; display: block }
ul { list-style: none; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }
a { outline: none; }
a:link, a:visited { text-decoration: none; color: #666 }
a:hover { text-decoration: none; }
.dhf_clear { clear: both; }
.dhf_blank { height: 5px; overflow: hidden; width: 100%; margin: auto; clear: both }
.dhf_f_l { float: left }
.dhf_f_r { float: right }
.dhf_l_box { width: 670px; }
.dhf_r_box { width: 300px; }
/* 头部信息 */
header { width: 1000px; margin: 20px auto; overflow: hidden; clear: both; }
#dhf_topnav { width: 60%; background: #48AE15; height: 46px; line-height: 46px; text-align: center; border-radius: 46px; }
#dhf_topnav a { display: inline-block; font-size: 18px; font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif; padding: 0 20px; }
#dhf_topnav a:hover { background: #fff; color: #000; }
#dhf_topnav a { color: #FFF }
#dhf_topnav_current { background: #F3FF41; }/* 高亮选中颜色 */
a#dhf_topnav_current { color: #000 }
article { width: 1000px; margin: 20px auto; }
/*footer*/
footer { background: #333; width: 100%; clear: both; text-align: center; }
.dhf_ft-copyright { color: #fff; line-height: 24px; }
.dhf_ft-list { background: url(../images/ft-wx-s.png) no-repeat right; height: 100px }
/*返回顶部*/
*html { background-image: url(about:blank); background-attachment: fixed; }/*解决IE6下滚动抖动的问题*/
#dhf_tbox { width: 54px; float: right; position: fixed; right: 50px; bottom: 15px; _position: absolute; _bottom: auto; _top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop, 10)||0)-(parseInt(this.currentStyle.marginBottom, 10)||0)));
    _margin-bottom: 15px; }/*解决IE6下不兼容 position:fixed 的问题*/
#dhf_togbook, #dhf_gotop { width: 54px; height: 56px; display: block; background: url(../images/icons.png) no-repeat #111; box-shadow: 0px 1px 0px rgba(255,255,255,.1), inset 0px 1px 1px rgba(0,0,0,.7); border-radius: 6px; }
#dhf_togbook { margin: 5px 0; background-position: 10px -36px; }
#dhf_gotop { background-position: 12px 10px; }
#dhf_togbook:hover, #dhf_gotop:hover { opacity: 0.5 }
/*标签云*/
.dhf_cloud { width: 100%; clear: both; overflow: hidden }
.dhf_cloud h3 { line-height: 40px; color: #38485A; font-size: 18px; border-bottom: 1px solid #E6E6E6; height: 40px; }
.dhf_cloud ul { margin: 20px 0 }
.dhf_cloud ul li { line-height: 24px; height: 24px; display: block; background: #999; float: left; padding: 3px 11px; margin: 10px 10px 0 0; border-radius: 8px; -moz-transition: all 0.5s; -webkit-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s; }
.dhf_cloud ul li a { color: #FFF }
.dhf_cloud ul li:nth-child(8n-7) { background: #8A9B0F }
.dhf_cloud ul li:nth-child(8n-6) { background: #EB6841 }
.dhf_cloud ul li:nth-child(8n-5) { background: #3FB8AF }
.dhf_cloud ul li:nth-child(8n-4) { background: #FE4365 }
.dhf_cloud ul li:nth-child(8n-3) { background: #FC9D9A }
.dhf_cloud ul li:nth-child(8n-2) { background: #EDC951 }
.dhf_cloud ul li:nth-child(8n-1) { background: #C8C8A9 }
.dhf_cloud ul li:nth-child(8n) { background: #83AF9B }
.dhf_cloud ul li:first-child { background: #036564 }
.dhf_cloud ul li:last-child { background: #3299BB }
.dhf_cloud ul li:hover { border-radius: 0; text-shadow: #000 1px 1px 1px }
/* 切换卡 */
.dhf_moreSelect { width: 100%; margin: 30px 0 20px 0; overflow: hidden }
.dhf_ms-top { height: 32px; border-bottom: solid 1px #EAEAEA; font-size: 14px }
#dhf_tab li a { float: left; height: 32px; cursor: pointer; line-height: 32px; list-style-type: none; padding: 0 15px; }
#dhf_tab li.cur a { color: #fff; background: #f77825; }
.dhf_bd { display: none }
.dhf_bd-news ul { padding: 10px 0 0 10px; background: url(../images/ph2.png) no-repeat 10px 29px; }
.dhf_bd-news ul li { border-bottom: solid 1px #EAEAEA; line-height: 30px; height: 30px; overflow: hidden; font-size: 14px; padding: 10px 0 0 30px; }
.dhf_bd-news ul li a { display: block; }
.dhf_bd-news ul li a:hover { color: #000; }
.dhf_bd-news ul li:hover { border-bottom: #000 1px solid; }/* 鼠标放上去的效果 */
